html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004;
  overflow: hidden;
  user-select: none;
}

html.cur-none {
  cursor: none;
}
html.cur-pointer {
  cursor: url("images/cursor-pointer32.png"), auto;
}
html.cur-target {
  cursor: url("images/cursor-target32.png") 15 15, auto;
}
html.cur-select-green1 {
  cursor: url("images/cursor-green1-32.png") 15 15, auto;
}
html.cur-select-green2 {
  cursor: url("images/cursor-green2-32.png") 15 15, auto;
}
html.cur-select-yellow1 {
  cursor: url("images/cursor-yellow1-32.png") 15 15, auto;
}
html.cur-select-yellow2 {
  cursor: url("images/cursor-yellow2-32.png") 15 15, auto;
}
html.cur-select-red1 {
  cursor: url("images/cursor-red1-32.png") 15 15, auto;
}
html.cur-select-red2 {
  cursor: url("images/cursor-red2-32.png") 15 15, auto;
}
html.cur-scroll-bottom {
  cursor: url("images/scroll-bottom32.png") 15 15, auto;
}
html.cur-scroll-bottom-left {
  cursor: url("images/scroll-bottom-left32.png") 15 15, auto;
}
html.cur-scroll-bottom-right {
  cursor: url("images/scroll-bottom-right32.png") 15 15, auto;
}
html.cur-scroll-top {
  cursor: url("images/scroll-top32.png") 15 15, auto;
}
html.cur-scroll-top-left {
  cursor: url("images/scroll-top-left32.png") 15 15, auto;
}
html.cur-scroll-top-right {
  cursor: url("images/scroll-top-right32.png") 15 15, auto;
}
html.cur-scroll-left {
  cursor: url("images/scroll-left32.png") 15 15, auto;
}
html.cur-scroll-right {
  cursor: url("images/scroll-right32.png") 15 15, auto;
}

canvas {
  background-color: #333;
  display: block;
  width: 100vw;
  height: 100vh;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "monospace";
  background-color: #2a2727;
  padding: 10px;
  border-radius: 5px;
}

.btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
}

.resolution-select {
  padding: 2px 8px;
  margin: 0px 49px;
  font-size: 13px;
  margin-right: 88px;
}

[draggable="true"] {
  cursor: move;
}

#map-editor {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 130px;
  height: 280px;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #333;
  padding: 10px;
  z-index: 10;
  cursor: move;
  display: block;
}

#map-editor input:focus-visible {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

#map-editor input[type="text"] {
  width: 120px;
}

#tile-preview {
  width: 128px;
  height: 128px;
  background-image: url("images/map-tiles-vertical.png");
  background-repeat: no-repeat;
  cursor: default;
  margin-bottom: 10px;
  border: 1px solid #333;
  pointer-events: none;
}

/* TODO : improve game menu styling */
#game-menu {
  font-family: "Orbitron", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
  display: block;
}

#game-menu h2 {
  color: #29ff00;
  /* text-shadow: 0 0 10px #03391b, 0 0 30px #e3ff71; */
}

#game-menu label {
  color: #29ff00;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
  width: 225px;
  /* text-shadow: 0 0 11px #0f2716, 0 0 24px #e3ff71; */
  transition: color 0.2s;
}
#game-menu label:hover {
  text-shadow: 0 0 11px #0f2716, 0 0 24px #e3ff71;
  color: #e5ff20;
}

/* ------------------------ chrome ------------------------ */
input[type="range"] {
  -webkit-appearance: none;
  cursor: url("images/cursor-pointer32.png"), auto;
  background: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 130px;
  height: 5px;
  background: #104000;
  border: none;
  border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #29ff00;
  margin-top: -4px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #15601d;
}

/* ------------------------ firefox ------------------------ */
input[type="range"] {
  border: 1px solid transparent;
  width: 130px;
}
input[type="range"]::-moz-range-track {
  width: 130px;
  height: 5px;
  background: #104000;
  border: none;
  border-radius: 3px;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #29ff00;
}
input[type="range"]:-moz-focusring {
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -1px;
}
input[type="range"]:focus::-moz-range-track {
  background: #15601d;
}

/* ------------------------ IE ------------------------ */
input[type="range"]::-ms-track {
  width: 130px;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}
input[type="range"]::-ms-thumb {
  border: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #29ff00;
}
input[type="range"]::-ms-fill-lower {
  background: #002000;
  border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
  background: #104000;
  border-radius: 10px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #15601d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #15601d;
}

#game-menu button {
  background: #104000;
  border: none;
  border-radius: 2px;
  color: #29ff00;
}

#game-menu button:focus-visible {
  outline: 2px solid #15601d;
}

#game-menu button:hover {
  background: #29ff00;
  color: #0b2b11;
}

#game-menu button,
select,
input[type="checkbox"] {
  cursor: url("images/cursor-pointer32.png"), auto;
}

.button-increment {
  margin-right: 40px;
}

#game-menu #ok-button,
#game-menu #cancel-button {
  width: 100px;
  padding: 5px 20px;
  margin: 20px 10px;
  font-size: 18px;
  border-radius: 4px;
}

#game-menu input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 120px 0 76px;
  width: 16px;
  height: 16px;
  background: #104000;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  top: 4px;
}
#game-menu input[type="checkbox"]:checked::before {
  content: "X";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #29ff00;
}
#game-menu input[type="checkbox"]:focus-visible {
  outline: 2px solid #15601d;
}

#game-menu select {
  background: #104000;
  color: #29ff00;
  border: none;
  border-radius: 3px;
  padding: 3px 6px;
}
#game-menu select:hover {
  background: #29ff00;
  color: #104000;
}

#game-menu select:focus {
  outline: 2px solid #15601d;
}

#game-menu select option {
  background: #104000;
  color: #29ff00;
}
#game-menu select option:hover {
  background: #29ff00;
  color: #104000;
}
